*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
nav{
    background-color: #1A0B2E;
    display: flex;
    padding: 1.5rem 12.5rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
/* menu */
.menu-bar{
    display: flex;
    gap: 2em;
}
.menu-bar li{
    list-style: none;
}
.menu-bar li a{
    text-decoration: none;
    color: #FFFFFF;
}
nav button{
    all: unset; 
    display: flex;
    align-items: center;
    gap: .25rem;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 1rem 0.75rem;
    border-radius: 10000px;
    font-weight: 600;
}

/* about us */
.about-us{
    background-color: #1A0B2E;
    padding: 3.125rem 12.5rem 7.5rem 12.5rem;
    text-align: center;
    display: grid;
    gap: 5rem;
}

.about-us h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}

.about-us p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.25;
    opacity: .8;
}

.about-us hr{
    color: #FFFFFf;
    opacity: 0.1;
    
}

.au-para{
    display: grid;
    gap: 2rem;
}
#note{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note{

}
.note h2{
    font-size: 4rem;
    font-weight: 900;
    color: #00FF88;
}
.note p{
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 400;
}

/* why choose us */
.why-choose-techwave{
    background-color: #230E3D;
    padding: 7.5rem 12.5rem;
    display: grid;
    gap: 2.5rem;

}

.why-choose-techwave h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.cards>*{
    background-color: rgba(53, 17, 101, 40);
    border-radius: 2.5rem;
    padding: 2.5rem;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.cards{
    display: grid;
    gap: 1.875rem;
        grid-template-areas: 
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5"
    ;
}

.style{
    color: #FFFFFF;
    display: grid;
    gap: 1rem;
    align-content: center;
}
.style h3{
    font-weight: bold;
    font-size: 1.5;
    color: #FFFFFF;
}
.style p{
    font-size: 1rem;
    opacity: .6;
    font-weight: 400;
    line-height: 1.5rem;
}