*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
nav{
    background-color: #1A0B2E;
    display: flex;
    padding: 1.5rem 12.5rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.mobile-nav{
    display: none;
}
/* menu */
.menu-bar{
    display: flex;
    gap: 2em;
}
.menu-bar li{
    list-style: none;
}
.menu-bar li a{
    text-decoration: none;
    color: #FFFFFF;
}
nav button{
    all: unset; 
    display: flex;
    align-items: center;
    gap: .25rem;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 1rem 0.75rem;
    border-radius: 10000px;
    font-weight: 600;
}

/* about us */
.about-us{
    background-color: #1A0B2E;
    padding: 3.125rem 12.5rem 7.5rem 12.5rem;
    text-align: center;
    display: grid;
    gap: 5rem;
}

.about-us h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}

.about-us p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.25;
    opacity: .8;
}

.about-us hr{
    color: #FFFFFf;
    opacity: 0.1;
    
}

.au-para{
    display: grid;
    gap: 2rem;
}
#note{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note{

}
.note h2{
    font-size: 4rem;
    font-weight: 900;
    color: #00FF88;
}
.note p{
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 400;
}

/* why choose us */
.why-choose-techwave{
    background-color: #230E3D;
    padding: 7.5rem 12.5rem;
    display: grid;
    gap: 2.5rem;

}

.why-choose-techwave h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.cards>*{
    background-color: rgba(53, 17, 101, 40);
    border-radius: 2.5rem;
    padding: 2.5rem;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.cards{
    display: grid;
    gap: 1.875rem;
        grid-template-areas: 
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5"
    ;
}

.style{
    color: #FFFFFF;
    display: grid;
    gap: 1rem;
    align-content: center;
}
.style h3{
    font-weight: bold;
    font-size: 1.5;
    color: #FFFFFF;
}
.style p{
    font-size: 1rem;
    opacity: .6;
    font-weight: 400;
    line-height: 1.5rem;
}

/* three */
.three{
    background-color: #1A0B2E;
    padding: 7.5rem 12.5rem;
    color: #FFFFFF;
    text-align: center;
}
.three-container{
    display: grid;
    gap: 2.5rem;
}
.three h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}
.v-cards{
    display: flex;
    gap: 1.875rem;
    justify-content: space-between;

}
.v-card{
    background-color: #250D44;
    width: 23.75rem;
    height: 27.5rem;
    border-radius: 2rem;
    overflow: hidden;
    text-align: left;
    display: grid;
    justify-content: space-between;  
}
.v-card iframe{
  width: 100%;              
  height: 13.375rem;
}
.context{
    padding: 1.5rem;
}
.context h5{
    font-size: 1.5rem;
    font-weight: bold;
}
.context p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: .6;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.host{
    padding: 7.5rem 0;
    display: grid;
    gap: 2.5rem;
}
.host-section{
    background-color: rgba(53, 17, 101, 40);
    border-radius: 2.5rem;
    display: flex;
    padding: 2.5rem;
    text-align: left;
    align-items: center;
    gap: 1.5rem;
}

.about-host{
    display: grid;
    gap: 1rem;
    
}
.about-host h3{
    font-size: 2rem;
    font-weight: bold;
}
.about-host p{
    color: #FFFFFF;
    opacity: .6;
}

.social{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.social img{
    width: 100%
}
.social-circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #533C72;
    padding: .625rem;
}
.footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    padding: 7.5rem;
}

.social-footer{
    display: flex;
    gap: 2.5rem;
}
.social-footer-card{
    display: flex;
    gap: .5rem;
}
.social-footer-card p{
    font-size: 1rem;
    font-weight: 500;
    opacity: .6;
}
.footer{
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    text-align: center;

}
.footer p{
    font-size: 1rem;
    opacity: .6;
}

@media screen and (max-width: 576px) {
    nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
        justify-content: space-between;
        padding: 1.25rem;
        border-bottom: 1px solid rgba(65, 37, 103, 1);
        background-color: #1A0B2E;
    }
    .mobile-nav img{
        max-width: 8.5rem;
    }
        /* about us */
    .about-us{
        padding: 2.5rem 1.25rem;
        text-align: center;
        display: grid;
        gap: 2.5rem;
    }

    .about-us h2{
        font-size: 2rem;
        font-weight: bold;
    }

    /* .about-us p{
        color: #FFFFFF;
        font-size: 1rem;
        line-height: 1.25;
        opacity: .8;
    } */

    /* .about-us hr{
        color: #FFFFFf;
        opacity: 0.1;
        
    } */

    /* .au-para{
        display: grid;
        gap: 2rem;
    } */
    #note{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
    }
    .note{

    }
    .note h2{
        font-size: 2rem;
        font-weight: 900;
        color: #00FF88;
    }
    .note p{
        color: #FFFFFF;
        opacity: 0.8;
        font-size: 1rem;
        font-weight: 400;
    }
    /* why choose us */
.why-choose-techwave{
    background-color: #230E3D;
    padding: 2.5rem 1.25rem;
    display: grid;
    gap: 2.5rem;

}

.why-choose-techwave h2{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.cards>*{
    background-color: rgba(53, 17, 101, 40);
    border-radius: 2.5rem;
    padding: 2.5rem;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.cards{
    display: grid;
    gap: 1.875rem;
        grid-template-areas: 
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    ;
}

.style{
    color: #FFFFFF;
    display: grid;
    gap: 1rem;
    align-content: center;
}
.style h3{
    font-weight: bold;
    font-size: 1.5;
    color: #FFFFFF;
}
.style p{
    font-size: 1rem;
    opacity: .6;
    font-weight: 400;
    line-height: 1.5rem;
}
/* three */
.three{
    background-color: #1A0B2E;
    padding: 2.5rem 1.25rem;
    color: #FFFFFF;
    text-align: center;
}
.three-container{
    display: grid;
    gap: 2.5rem;
}
.three h2{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}
.v-cards{
    display: grid;
    gap: 1rem;
    justify-content: space-between;

}
.v-card{
    background-color: #250D44;
    width: 23.75rem;
    height: 27.5rem;
    border-radius: 2rem;
    overflow: hidden;
    text-align: left;
    display: grid;
    justify-content: space-between;  
}
.v-card iframe{
  width: 100%;              
  height: 13.375rem;
}
.context{
    padding: 1.5rem;
}
.context h5{
    font-size: 1.5rem;
    font-weight: bold;
}
.context p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: .6;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.host{
    display: grid;
    gap: 2.5rem;
}
.host-section{
    background-color: rgba(53, 17, 101, 40);
    border-radius: 2.5rem;
    display: grid;
    padding: 2.5rem 1.25rem;
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
}

.about-host{
    display: grid;
    gap: 1rem;
    justify-items: center;;
    
}
.about-host h3{
    font-size: 2rem;
    font-weight: bold;
}
.about-host p{
    color: #FFFFFF;
    opacity: .6;

}

.social{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.social img{
    width: 100%
}
.social-circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #533C72;
    padding: .625rem;
}
.footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding: 2.5rem 1.25rem;
}

.social-footer{
    padding: 1.5rem 4.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.social-footer-card{
    display: flex;
    gap: .5rem;
}
.social-footer-card p{
    font-size: 1rem;
    font-weight: 500;
    opacity: .6;
}
.footer{
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    text-align: center;

}
.footer p{
    font-size: 1rem;
    opacity: .6;
}
.footer img{
    max-width: 13.6875rem;
}
}