/* universal reset */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
/* navbar */
nav{
    background-color: #1A0B2E;
    display: flex;
    padding: 1.5rem 12.5rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
/* menu */
.menu-bar{
    display: flex;
    gap: 2em;
}
.menu-bar li{
    list-style: none;
}
.menu-bar li a{
    text-decoration: none;
    color: #FFFFFF;
}
/* nav btn */
nav button{
    all: unset; 
    display: flex;
    align-items: center;
    gap: .25rem;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 1rem 0.75rem;
    border-radius: 10000px;
    font-weight: 600;
}
/* hamburger icon for mobile */
.hamburger-btn{
    display:none;
    cursor:pointer;
}
/* hero */
.hero{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6.3125rem 0;
}
.hero-block{
    display: grid;
    justify-items: center;
    gap: 1.5rem;
}
/* hero banner image container */
.hero-visual{
    position: relative;
    margin: 0 auto;
    width: 21.875rem;
}
/* visual effect */
.back{
    position: relative;
    z-index: 1;
}
/* microphone */
.front{
    position: absolute;
    z-index: 2;
    left: 115px;
    top: 80px;
}
/* new pop up */
.popup{
    position: absolute;
    z-index: 3;
    left: 250px;
    top: 25px;
}
.hero h1{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
}
.hero p{
    color: #FFFFFF;
    font-size: 1rem;
    opacity: .8;
    text-align: center;
}
/* hero buttons */
.btn{
    display: flex;
    gap: .5rem;
}
.btn1{
    all: unset; 
    display: flex;
    align-items: center;
    gap: .25rem;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 1rem 0.75rem;
    border-radius: 10000px;
    font-weight: 600;
}
.btn2{
    all: unset; 
    display: flex;
    align-items: center;
    gap: .25rem;
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 1rem 0.75rem;
    border-radius: 10000px;
    font-weight: 600;
}
/* about us */
.about-us{
    background-color: #1A0B2E;
    padding: 3.125rem 16% 7.5rem 16%;
    text-align: center;
    display: grid;
    gap: 5rem;
}
.au-para{
    display: grid;
    gap: 2rem;
}
.about-us h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}
.about-us p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.25;
    opacity: .8;
}
.about-us hr{
    color: #FFFFFf;
    opacity: 0.1;
}
#note{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
}
.note h2{
    font-size: 4rem;
    font-weight: 900;
    color: #00FF88;
}
.note p{
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 400;
}
/* why choose us */
.why-choose-techwave{
    background-color: #230E3D;
    padding: 7.5rem 12.5rem;
    display: grid;
    gap: 2.5rem;

}
.why-choose-techwave h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.cards>*{
    background-color: rgba(53, 17, 101, 40);
    border-radius: 2.5rem;
    padding: 2.5rem;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.cards{
    display: grid;
    gap: 1.875rem;
        grid-template-areas: 
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5"
    ;
}
/* card style */
.style{
    color: #FFFFFF;
    display: grid;
    gap: 1rem;
    align-content: center;
}
.style h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.style p{
    font-size: 1rem;
    opacity: .6;
    font-weight: 400;
    line-height: 1.5rem;
}
/* section three (featured episodes & host) */
.three{
    background-color: #1A0B2E;
    padding: 7.5rem 16.6667%;
    color: #FFFFFF;
    text-align: center;
}
.three-container{
    display: grid;
    gap: 2.5rem;
}
.three h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}
.v-cards{
    display: flex;
    gap: 1.875rem;
}
.v-card{
    background-color: #250D44;
    max-width: 23.75rem;
    min-width: 12rem;
    border-radius: 2rem;
    overflow: hidden;
    text-align: left;
}
.v-card iframe{
  width: 100%;              
  height: 13.375rem;
}
.context{
    padding: 1.5rem;
    display: grid;
    gap: .75rem;
}
.context h5{
    font-size: 1.5rem;
    font-weight: bold;
}
.context p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: .6;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    gap: .25rem;
}
/* host */
.host{
    padding: 7.5rem 0;
    display: grid;
    gap: 2.5rem;
}
.host-section{
    background-color: rgba(53, 17, 101, 40);
    border-radius: 2.5rem;
    display: flex;
    padding: 2.5rem;
    text-align: left;
    align-items: center;
    gap: 1.5rem;
}
.about-host{
    display: grid;
    gap: 1rem;
}
.about-host h3{
    font-size: 2rem;
    font-weight: bold;
}
.about-host p{
    color: #FFFFFF;
    opacity: .6;
}
.social{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.social img{
    width: 100%;
}
.social-circle{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: .625rem ;
}
/* footer */
.footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    padding: 7.5rem;
}

.social-footer{
    display: flex;
    gap: 2.5rem;
}
.social-footer-card{
    display: flex;
    gap: .5rem;
}
.social-footer-card p{
    font-size: 1rem;
    font-weight: 500;
    opacity: .6;
}
.footer{
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    text-align: center;

}
.footer p{
    font-size: 1rem;
    opacity: .6;
}

/* small deice */
@media screen and (max-width: 576px) {
    /* nav bar */
    nav{
        padding: 1.25rem;
    }
    nav img{
        max-width: 8.5rem;
    }
    .menu-bar{
    display:none;
    }
    .subscribe{
        display: none;
    }
    .hamburger-btn{
        display:block;
    }
    /* hero */
    .hero{
        background-image: url(./assets/hero-bg.png);
        background-color: #1A0B2E;
        background-size: contain;
        background-position: center 4rem;
        padding: 2.5rem 1.5rem;
    }
    .hero-visual{
        width: 50%;
    }
    .hero-visual img{
        max-width: 100%;
    }
    .front{
        left: 30%;
        top: 20%;
        width: 40%;
    }
    .popup{
        left: 65%;
        top: 5%;
        width: 45%;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    /* about us */
    .about-us{
        padding: 2.5rem 1.25rem;
        text-align: center;
        display: grid;
        gap: 2.5rem;
    }
    .about-us h2{
        font-size: 2rem;
    }
    #note{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .note h2{
        font-size: 2rem;
    }
    /* why choose techwave */
    .why-choose-techwave{
        padding: 2.5rem 1.25rem;
        display: grid;
        gap: 2.5rem;
    }
    .why-choose-techwave h2{
        font-size: 2rem;
    }
    .cards{
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        ;
    }
    /* section three (featured episodes & host) */
    .three{
        padding: 2.5rem 1.25rem;
    }
    .three h2{
        font-size: 2rem;
    }
    .v-cards{
        display: grid;
        gap: 1rem;
    }
    /* host */
    .host-section{
        display: grid;
        padding: 2.5rem 1.25rem;
        text-align: center;
        align-items: center;
        justify-items: center;
        gap: 1.5rem;
    }
    .about-host{
        justify-items: center;
    }
    .about-host h3{
        font-size: 2rem;
    }
    /* footer */
    .footer{
        background-image: url(./assets/footer-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #FFFFFF;
        padding: 2.5rem 1.25rem;
    }

    .social-footer{
        padding: 1.5rem 4.5rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-footer-card{
        display: flex;
        gap: .5rem;
    }
    .social-footer-card p{
        font-size: 1rem;
        font-weight: 500;
        opacity: .6;
    }
    /* footer */
.footer{
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    text-align: center;

}
.footer p{
    font-size: 1rem;
    opacity: .6;
}
.footer img{
    max-width: 13.6875rem;
}
}